@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Noto Serif HK', serif;
    font-weight: 300;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid black;
    background-color: rgb(212, 164, 164);
}

ul {
    list-style: none;
}


/* header and logo */

h1 {
    font-family: serif, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
}

h2 {
    font-family: serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
}

/* nav */

.topnav {
    font-size: 100%;
    letter-spacing: 4px;
    overflow: hidden;
}

.topnav, #logo {
    line-height: 75px;
}

.topnav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-align: center;
}


.active {
    border-bottom: 1px solid black;
}

/* hero-image */
#hero-outer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    position: absolute;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Kids\ blowing\ bubbles.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
}