@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    background-color: rgb(225, 48, 80, 0.06);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: 1px solid black;
    background-color: rgb(212, 164, 164, .4);
}

ul {
    list-style: none;
}


/* header and logo */

h1 {
    font-family: Rubik, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
}

h2,
h3 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 1rem;
    justify-content: space-evenly;
}

/* nav */

.topnav {
    font-size: 73%;
    letter-spacing: 4px;
    overflow: hidden;
}

.topnav,
#logo {
    line-height: 75px;
}

.topnav li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-align: center;
}


.active {
    border-bottom: 1px solid black;
}

/* hero-image and cover-text */
#hero-outer {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 100vh;
    width: 100vw;
    background: url('../images/Children-playing-outside.jpg') no-repeat center center;
    background-size: cover;
    transition: transform 2s;
}

#cover-text,
#cover-text h2 {
    color: black;
}

#hero-image:hover {
    transform: scale(1.2);
}

#cover-text {
    font-size: 100%;
    font-family: 'Noto Serif HK', serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(212, 164, 164, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

.line {
    width: 150px;
    height: 4px;
    background: white;
    margin: 10px auto;
}

/* activities */

.section-header {
    font-size: 25px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

.section-header h2 {
    font-size: 1.5em;
}

.container {
    width: 88%;
    height: 400px;
    margin: 0 auto;
    background: rgb(225, 48, 80, 0.06);
    margin-top: 50px;
    display: flex;
}


.box {
    margin: 10px;
    width: 30%;
    height: 30%;
    box-shadow: -1px 0 10px rgb(212, 164, 164, .4);
}

.box h3 {
    margin-top: 20px;
    font-size: 18px;
}

.box p {
    font-size: 15px;
    margin-top:10px ;
}

.box img {
    width: 100%;
    height: 200px;
    display: flex;
    margin: 0 auto;
}



/* contact */
.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
   
}

.contact-map {
    width: 80%;
    height: auto;
    flex: 50%;
    padding: 30px;
    margin: 0 auto;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 80%;
    height: auto;
    flex: 50%;
    text-align: center;
    margin: 0 auto;
}

.contact-form h2 {
    margin-top: 30px;
    font-size: 25px;
}

.contact-form-txt {
    width: 100%;
    height: 40px;
    color: black;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.context-form-txt::placeholder {
    color: #aaa;
}

.contact-form-textarea {
    width: 100%;
    height: 130px;
    color: black;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.context-form-textarea::placeholder {
    color: #aaa;
}

.contact-form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: rgb(212, 164, 164, .7);
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
}

/* footer */
footer {
    padding: 40px 0;
    background-color: rgb(212, 164, 164, .7);
    text-align: center;
}

.social-networks {
    text-align: center;
    padding-bottom: 25px;
    color:#666;
    clear: both;
    display: inline-flex;
}

.social-networks li {
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
 

/* about-container */

.about-container {
  width: 100%;
min-height: 100vh;
}

.about-container .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}

.about-container .title h1::after{
    content:"";
    height: 6px;
    width: 180px;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
}

.content {
    width: 61%;
    display: flex;
    margin: 30px auto;
}

.content .article {
    box-shadow: 0px 0px 2px 0px rgb(212, 164, 164, .7);
    background-color: rgb(212, 164, 164, .4);
    padding: 25px 25px;
}

.content .article h3 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;

}

.content .article p {
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;
}

.content .article a {
    font-size: 17px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    border-radius: 23px;
    border: 1px solid rgb(212, 164, 164, .4);
    letter-spacing: 1em;
    margin-top: 35px;
}

.content .article a:hover {
    background-color: rgb(212, 164, 164, .4);
    color: black;
    transition: 0.2s ease;
}

/* club */
#club {
    background-image: url('../images/fab-kids-club-2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#club div {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 350px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white ;
    box-sizing: border-box;
}

#club h3 {
    font-size: 2em;
    color: antiquewhite;
}

/* gallery */
.grid {
    padding: 1em;
}

.grid h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 50px 0px; 
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
}

.fabkids {
    flex: 1 1 100%;
    padding: 0.5em;
}

.fabkids-inner {
    background-size: cover;
    background-image: url(../images/fab-kids-camping3.jpg);
    padding-top: calc(105% / (18/18));
}

.fabkids:nth-child(2) .fabkids-inner {
    background-image: url(../images/fab-kids-camping-1.jpg);
}

.fabkids:nth-child(3) .fabkids-inner {
    background-image: url(../images/fab-kids-crafting.jpg);
}

.fabkids:nth-child(4) .fabkids-inner {
    background-image: url(../images/kid-with-face-paint.jpg);
}

.fabkids:nth-child(5) .fabkids-inner {
    background-image: url(../images/kid-crafting-3.jpg);
}

.fabkids:nth-child(6) .fabkids-inner {
    background-image: url(../images/pexels-artem-podrez-6941672.jpg);
}

.fabkids:nth-child(7) .fabkids-inner {
    background-image: url(../images/Kids-easter-egg.jpg);
}

.fabkids:nth-child(8) .fabkids-inner {
    background-image: url(../images/Kids-blowing-bubbles.jpg);
}

.fabkids:nth-child(9) .fabkids-inner {
    background-image: url(../images/kids-crafting-three.jpg);
}

.fabkids:nth-child(10) .fabkids-inner {
    background-image: url(../images/Boy-stacking-up-toys.jpg);
}


/* sign up */

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.signup-box h2 {
    text-align: center;
    padding-top: 15px;
}

h4 {

    text-align: center;
    margin-top: 10px;
}

.signup-box form {
    width: 300px;
    margin-left: 20px;
}

.signup-box form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.signup-box form input {
    width: 100%;
    padding: 7px;
    border: rgb(212, 164, 164, .4);
    border: 1px solid rgb(212, 164, 164, .7);
    border-radius: 6px;
    outline: none;
    
}

.signup-box input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rosybrown;
    color: white;
    font-size: 18px;
}

.signup-box p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.login {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    margin-top: -10px;
}

.login a {
    color: rosybrown;
}

/* Media Queries */

/* For medium screens size from 800px wide and down */
@media screen and (max-width: 800px) {
    #logo {
        font-weight: bolder;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .topnav{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        font-size: 95%;
        letter-spacing: 3px;
    }
  

    .section-header h2 {
        font-size: 1em;
    }
    
    .container {
        flex-direction: column;
        width: 50%;
        height: 1000px;
        align-items: center ;
        margin: 0 auto;
        padding: 10px;
     }


     .box {
        width: 100%;
       
    }

    .box p{
        font-size: 13px;
        margin-top: -1px;
    }

    .box h3 {
        margin-top: 14px;
        font-size: 17px;
    }
}






/* For small screens from 600px wide and down */

@media only screen and (max-width:600px) {
    #logo{
        width: 253px;
        font-size: 18px;
        font-weight: bolder;
        align-items: center;
        justify-content: space-evenly;
    }
 
    .topnav{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    #cover-text {
        right: 74px;
    }

    .section-header h2 {
        font-size: 0.8em;
    }

    .container {
        flex-direction: column;
        width: 80%;
        align-items: center ;
        margin: 0 auto;
    }

    .box {
        width: 100%;
        height: auto;
    }

    .box img {
        height: 210px;
        width: 90%;
    }

    .contact-form h2 {
        margin-top: 67px;
        font-size: 25px;
    }

   

    .about-container .title {
        font-size: 16px;
    }

    .content {
        width: 100%;
        margin: 29px auto;
        height: 567px;
    }


    .content .article a { 
        font-size: 17px;
        text-decoration: none;
        display: flex;
        padding: 8px 84px;
        border-radius: 19px;
        border: 1px solid rgb(212, 164, 164, .4);
        letter-spacing: 0.5em;
        margin-top: -5px;
    }

    #club div {
        width: 100%;
        clear:both;
        height: 73px;
        padding: 7px;
    }
}



@media screen and (min-width: 480px) {
    .fabkids {
        flex: 1 1 100%;
    }
}

@media screen and (min-width: 768px) {
    .fabkids {
        flex: 1 1 33.333%;
    }
}

@media screen and (min-width: 980px) {
    .fabkids {
        flex: 1 1 20%;
    }
}



